# **NB 6.2: Targeted Entitiy Sentiment Identification**

## Importing Libraries

In [17]:
import os
import requests
import re
import sys
import regex as re
import ast

In [4]:
import nltk as nltk
import nltk.corpus  
from nltk.text import Text

In [5]:
import pandas as pd
import numpy as np
import sklearn

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'
import warnings
warnings.filterwarnings("ignore")

In [6]:
# Multiprocessing

#pip install pandarallel
import multiprocessing

num_processors = multiprocessing.cpu_count()
print(f'Available CPUs: {num_processors}')

import pandarallel
from pandarallel import pandarallel
pandarallel.initialize(nb_workers=num_processors-1, use_memory_fs=False, progress_bar=True )

Available CPUs: 16
INFO: Pandarallel will run on 15 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [7]:
# Imports the Google Cloud client library

from google.cloud import storage
# Instantiates a client
storage_client = storage.Client()

# The name for the new bucket
bucket_name = "nlp_final_project_kshitijm"

# Creates the new bucket
bucket = storage_client.bucket(bucket_name)
print(f"Bucket {bucket.name} connected.")

Bucket nlp_final_project_kshitijm connected.

In [13]:
#Visuals

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style('white')
# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'

import warnings
warnings.filterwarnings("ignore")

from tqdm import tqdm

In [14]:
# Task specific
from collections import Counter
from itertools import chain

## Importing Datasets

In [9]:
%%time
## Positive and Negative Sentiment Datasets

df_filt_pos=pd.read_csv('gs://nlp_final_project_kshitijm/00_Data/NLP_FP_Data7_POS_BERTopics_Sentiments_NER.csv',lineterminator='\n')
df_filt_neg=pd.read_csv('gs://nlp_final_project_kshitijm/00_Data/NLP_FP_Data7_NEG_BERTopics_Sentiments_NER.csv',lineterminator='\n')

CPU times: user 40.4 s, sys: 6.09 s, total: 46.4 s
Wall time: 2min 9s

In [10]:
# We see the following organisations coming as most prominent from our entire dataset; across years
ORG_trend=pd.read_csv('NER_Trend_ORG.csv')
ORG_trend

,2020,2021,2022,2023
0,"('AI', 37756)","('AI', 50705)","('AI', 71025)","('ChatGPT', 155292)"
1,"('V19', 28787)","('V19', 21160)","('Gray Media Group', 54282)","('AI', 84010)"
2,"('Google', 20518)","('Gray Media Group', 19507)","('Station20022022 Gray Television', 23401)","('Microsoft', 53121)"
3,"('Microsoft', 14155)","('Google', 19109)","('Google', 19290)","('Google', 50085)"
4,"('IBM', 13379)","('Microsoft', 14261)","('ML', 12760)","('OpenAI', 29117)"
5,"('Artificial Intelligence', 12495)","('Artificial Intelligence', 13384)","('V19', 9213)","('Gray Media Group', 28657)"
6,"('GR', 11260)","('IBM', 13200)","('Microsoft', 7737)","('Bard', 18375)"
7,"('Facebook', 9600)","('Facebook', 10079)","('ChatGPT', 7456)","('Station20022023 Gray Television', 12870)"
8,"('Artificial Intelligence AI', 7383)","('GR', 9837)","('Facebook', 7436)","('Microsofts', 10510)"
9,"('Amazon', 6893)","('Station20022021 Gray Television', 7721)","('IBM', 7204)","('Googles', 10029)"
10,"('Machine Learning', 6402)","('Machine Learning', 7536)",('CaptioningAudio DescriptionA Gray Media Grou...,"('Facebook', 9210)"
11,"('Intel', 6191)","('ML', 7343)","('Artificial Intelligence', 6591)","('GPT', 9033)"
12,"('Apple', 5274)","('Artificial Intelligence AI', 7210)","('Amazon', 6109)","('Apple', 8173)"
13,"('ML', 4460)","('Amazon', 6835)","('Meta', 5833)","('Amazon', 7776)"
14,"('AsiaPacific', 4086)","('Intel', 6033)","('DLE', 4885)","('AIgenerated', 7114)"
15,"('Healthcare', 3892)","('Apple', 4753)","('GR', 4471)","('Instagram', 7030)"
16,"('Samsung', 3010)","('EU', 4701)","('Twitter', 4422)","('Twitter', 6972)"
17,"('Twitter', 2701)","('BrandVoicePaid Program', 3981)","('Instagram', 4418)","('Meta', 6379)"
18,"('Oracle', 2699)","('Tesla', 3610)","('Tesla', 4168)","('Baidu', 5915)"
19,"('IBM Corporation', 2665)","('Healthcare', 3586)","('Machine Learning', 4153)","('AP', 5846)"

In [11]:
PER_trend=pd.read_csv('PER_Trend_ORG.csv')
PER_trend

,2020,2021,2022,2023
0,"('Size', 3979)","('Size', 2994)","('Elon Musk', 2219)","('Bing', 10618)"
1,"('Trump', 3283)","('Biden', 1993)","('Musk', 2192)","('Musk', 8478)"
2,"('Instagram', 1360)","('Closefor', 1908)","('Lemoine', 2044)","('Elon Musk', 7255)"
3,"('Middle EastAfrica', 1277)","('Greta Van', 1880)","('Ai Weiwei', 1766)","('Biden', 4333)"
4,"('Biden', 1046)","('Instagram', 1469)","('Vectorspace AI', 1651)","('Trump', 4095)"
5,"('Richests Richests', 1016)","('Elon Musk', 1220)","('Biden', 1464)","('Sam Altman', 3417)"
6,"('Gebru', 886)","('Jim Thorpe', 1088)","('EnterpriseFor', 1184)","('Bard', 2638)"
7,"('Ai Weiwei', 857)","('Middle EastAfrica', 1087)","('Mark Zuckerberg', 1066)","('Sundar Pichai', 2584)"
8,"('Musk', 808)","('Su Tierra Tiempo', 1085)","('StartedIs Bitcoin', 1006)","('Pichai', 2359)"
9,"('Elon Musk', 779)","('Musk', 1080)","('CoFounder', 961)","('Ernie Bot', 2302)"
10,"('Trumps', 776)","('DIIR F', 1060)","('Greta Van', 951)","('Lessby', 2286)"
11,"('Busco', 774)","('Greta Van ', 1014)","('SitesU.S. TVRadio', 881)","('Donald Trump', 2282)"
12,('asistencia tcnica para mi solucin de cuidado...,"('Trump', 987)","('Standigm', 859)","('Altman', 2020)"
13,"('Donald Trump', 704)","('Richests Richests', 984)","('Laivly', 854)","('Satya Nadella', 1929)"
14,"('Pichai', 647)","('Gebru', 851)","('Watson', 837)","('Tu', 1808)"
15,"('BFSI', 613)","('Mitchell', 817)","('Blake Lemoine', 816)","('Putin', 1790)"
16,"('Kyle Wiggers', 587)","('Greta Van SusterenGray', 788)","('Instagram', 781)","('Joe Biden', 1590)"
17,"('Sundar Pichai', 575)","('Joe Biden', 754)","('Sophy', 768)","('Higgins', 1557)"
18,"('Jim Thorpe', 564)","('Ai Weiwei', 744)","('GShare', 684)","('Bill Gates', 1456)"
19,"('Mark My ServicesAll', 525)","('Greta Van ', 743)","('TVLatest NewscastsPress', 658)","('Bidens', 1243)"

### We will try to extract entities from docs which have a positive sentiment

In [15]:
def get_top_ents(df):

    df['ENT_ORG']=df['ENT_ORG'].parallel_apply(ast.literal_eval)
    org_list = list(chain.from_iterable(df['ENT_ORG']))
    counter_org = Counter(org_list)
    top_20_org = counter_org.most_common(20)
    
    df['ENT_PROD']=df['ENT_PROD'].parallel_apply(ast.literal_eval)
    prod_list = list(chain.from_iterable(df['ENT_PROD']))
    counter_prod = Counter(prod_list)
    top_20_prod = counter_prod.most_common(20)
    
    df['ENT_PER']=df['ENT_PER'].parallel_apply(ast.literal_eval)
    per_list = list(chain.from_iterable(df['ENT_PER']))
    counter_per = Counter(per_list)
    top_20_per = counter_per.most_common(20)
    
    df['ENT_NORP']=df['ENT_NORP'].parallel_apply(ast.literal_eval)
    norm_list = list(chain.from_iterable(df['ENT_NORP']))
    counter_norm = Counter(norm_list)
    top_20_norm = counter_norm.most_common(20)
    
    return top_20_org, top_20_prod, top_20_per, top_20_norm

In [ ]:
%%time
top_20_org_pos, top_20_prod_pos, top_20_per_pos, top_20_norm_pos = get_top_ents(df_filt_pos)

In [19]:
POS_trend=pd.DataFrame({'ORGANIZATION':top_20_org_pos,'PRODUCT':top_20_prod_pos,'PERSON':top_20_per_pos, 'NORM':top_20_norm_pos})
POS_trend

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(AI, 78573)","(AI, 185906)","(Size, 2140)","(Chinese, 5935)"
1,"(Gray Media Group, 60661)","(AIdriven, 5053)","(Bing, 1887)","(European, 3026)"
2,"(ChatGPT, 29275)","(UsMeet, 2600)","(Greta Van, 1600)","(Canadian, 2659)"
3,"(Google, 23770)","(HPC, 1718)","(Elon Musk, 1561)","(American, 2109)"
4,"(Microsoft, 22937)","(Cresta, 1472)","(Biden, 1411)","(British, 1650)"
5,"(V19, 18860)","(Bing, 1435)","(Trump, 1258)","(Americans, 1401)"
6,"(Station20022022 Gray Television, 14059)","(V19, 1430)","(Standigm, 1250)","(French, 1268)"
7,"(ML, 13751)","(SE, 1271)","(Closefor, 1228)","(German, 1229)"
8,"(GR, 12167)","(CRM, 1263)","(CoFounder, 1181)","(Lunit, 1080)"
9,"(IBM, 12077)","(Google Cloud, 1115)","(Laivly, 1117)","(Korean, 992)"
10,"(Artificial Intelligence, 11118)","(JavaScript, 1029)","(Musk, 1112)","(North American, 938)"
11,"(Facebook, 7543)","(ADAS, 899)","(Telixs, 960)","(Canadians, 924)"
12,(CaptioningAudio DescriptionA Gray Media Group...,"(NewscastsPress, 821)","(Greta Van , 898)","(African, 827)"
13,"(Amazon, 7022)","(FDAcleared, 723)","(Weve, 843)","(Asian, 788)"
14,"(Station20022023 Gray Television, 6909)","(Cloud, 721)","(TVLatest NewscastsPress, 830)","(Irish, 623)"
15,"(OpenAI, 6739)","(Windows, 719)","(Middle EastAfrica, 787)","(Saudi, 585)"
16,"(Machine Learning, 6245)","(FNAlle im BlickpunktAd , 587)","(Watson, 759)","(ian, 555)"
17,"(RD, 5219)","(YouTube, 586)","(von, 757)","(Italian, 545)"
18,"(Intel, 5184)","(Akismet, 567)","(BFSI, 751)","(Swiss, 532)"
19,"(Apple, 5166)","(Fortune 500, 546)","(anlegenWas, 747)","(Spanish, 529)"

* POS: ChatGPT, Microsoft, 
* POS: Google + Alphabet - Bard
* POS: Coinbase, Ethereum

In [ ]:
%%time
top_20_org_neg, top_20_prod_neg, top_20_per_neg, top_20_norm_neg = get_top_ents(df_filt_neg)

In [22]:
NEG_trend=pd.DataFrame({'ORGANIZATION':top_20_org_neg,'PRODUCT':top_20_prod_neg,'PERSON':top_20_per_neg, 'NORM':top_20_norm_neg})
NEG_trend

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(ChatGPT, 5924)","(AI, 11450)","(Vectorspace AI, 992)","(Chinese, 1393)"
1,"(AI, 5642)","(Bing, 477)","(Bing, 473)","(European, 458)"
2,"(Google, 5628)","(SE, 353)","(Ernie Bot, 460)","(American, 385)"
3,"(Microsoft, 3025)","(SoundHound AI, 318)","(Elon Musk, 440)","(Canadians, 302)"
4,"(Bard, 1994)","(Coinbase, 231)","(Musk, 429)","(Americans, 268)"
5,"(Googles, 1882)","(XT, 129)","(Trump, 350)","(Canadian, 259)"
6,"(Matrix AI Network, 1701)","(Matrix AI Networks, 127)","(Biden, 331)","(British, 250)"
7,"(V19, 1307)","(Nebula AI, 123)","(Sundar Pichai, 301)","(Italian, 242)"
8,"(Lisk Machine Learning, 1248)","(AIdriven, 116)","(Vectorspace, 275)","(French, 198)"
9,"(Ethereum, 1197)","(JavaScript, 107)","(Putin, 207)","(German, 166)"
10,"(Facebook, 1190)","(Twitter, 103)","(Ernie, 193)","(Clearviews, 137)"
11,"(Alphabet, 1153)","(V19, 89)","(Bard, 171)","(Ukrainian, 126)"
12,"(OpenAI, 997)","(AccountNow, 82)","(theresearch, 168)","(Polymath, 123)"
13,"(Microsofts, 946)","(YouTube, 77)","(Pichai, 145)","(Hindu, 121)"
14,"(Decentralized Machine Learning, 936)","(Windows 11, 76)","(loweragainst, 145)","(Saudi, 120)"
15,"(SE, 827)","(ChatGPT.Led, 71)","(Sam Altman, 143)","(EUs, 106)"
16,"(Guardforce AI Co. Limited, 770)","(Stellar, 65)","(Gebru, 140)","(Europeans, 105)"
17,"(Twitter, 769)","(Akismet, 65)","(NAAQ, 135)","(Republican, 90)"
18,"(Facebook Share, 751)","(Matrix AI, 62)","(Snapchat, 131)","(Asian, 86)"
19,"(Apple, 745)","(Windows, 62)","(Syscoin SYS, 128)","(ian, 83)"

* NEG: Vectorspace AI - ML Based Blockchain
* NEG: Google + Alphabet - Bard
* NEG: Coinbase, Ethereum

In [24]:
len(df_filt_neg.Bert_topics.unique())

121