# **NB 6.2: Targeted Entitiy Sentiment Identification**

## Part 0: Importing Libraries

In [1]:
import os
import requests
import re
import sys
import regex as re
import ast

In [2]:
import nltk as nltk
import nltk.corpus  
from nltk.text import Text

In [3]:
import pandas as pd
import numpy as np
import sklearn

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Multiprocessing

#pip install pandarallel
import multiprocessing

num_processors = multiprocessing.cpu_count()
print(f'Available CPUs: {num_processors}')

import pandarallel
from pandarallel import pandarallel
pandarallel.initialize(nb_workers=num_processors-1, use_memory_fs=False, progress_bar=True )

Available CPUs: 16
INFO: Pandarallel will run on 15 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [5]:
# Imports the Google Cloud client library

from google.cloud import storage
# Instantiates a client
storage_client = storage.Client()

# The name for the new bucket
bucket_name = "nlp_final_project_kshitijm"

# Creates the new bucket
bucket = storage_client.bucket(bucket_name)
print(f"Bucket {bucket.name} connected.")

Bucket nlp_final_project_kshitijm connected.

In [6]:
#Visuals

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style('white')
# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'

import warnings
warnings.filterwarnings("ignore")

from tqdm import tqdm

In [7]:
# Task specific
from collections import Counter
from itertools import chain

## Part 1: Importing Datasets

In [8]:
%%time
## Positive and Negative Sentiment Datasets

df_filt_pos=pd.read_csv('gs://nlp_final_project_kshitijm/00_Data/NLP_FP_Data7v3_POS_BERTopics_Sentiments_NER.csv',lineterminator='\n')
df_filt_neg=pd.read_csv('gs://nlp_final_project_kshitijm/00_Data/NLP_FP_Data7v4_NEG_BERTopics_Sentiments_NER.csv',lineterminator='\n')

CPU times: user 42.2 s, sys: 11.9 s, total: 54.1 s
Wall time: 2min 22s

In [9]:
# We see the following organisations coming as most prominent from our entire dataset; across years
ORG_trend=pd.read_csv('NER_Trend_ORG.csv')
ORG_trend

,2020,2021,2022,2023
0,"('AI', 37756)","('AI', 50705)","('AI', 71025)","('ChatGPT', 155292)"
1,"('V19', 28787)","('V19', 21160)","('Gray Media Group', 54282)","('AI', 84010)"
2,"('Google', 20518)","('Gray Media Group', 19507)","('Station20022022 Gray Television', 23401)","('Microsoft', 53121)"
3,"('Microsoft', 14155)","('Google', 19109)","('Google', 19290)","('Google', 50085)"
4,"('IBM', 13379)","('Microsoft', 14261)","('ML', 12760)","('OpenAI', 29117)"
5,"('Artificial Intelligence', 12495)","('Artificial Intelligence', 13384)","('V19', 9213)","('Gray Media Group', 28657)"
6,"('GR', 11260)","('IBM', 13200)","('Microsoft', 7737)","('Bard', 18375)"
7,"('Facebook', 9600)","('Facebook', 10079)","('ChatGPT', 7456)","('Station20022023 Gray Television', 12870)"
8,"('Artificial Intelligence AI', 7383)","('GR', 9837)","('Facebook', 7436)","('Microsofts', 10510)"
9,"('Amazon', 6893)","('Station20022021 Gray Television', 7721)","('IBM', 7204)","('Googles', 10029)"
10,"('Machine Learning', 6402)","('Machine Learning', 7536)",('CaptioningAudio DescriptionA Gray Media Grou...,"('Facebook', 9210)"
11,"('Intel', 6191)","('ML', 7343)","('Artificial Intelligence', 6591)","('GPT', 9033)"
12,"('Apple', 5274)","('Artificial Intelligence AI', 7210)","('Amazon', 6109)","('Apple', 8173)"
13,"('ML', 4460)","('Amazon', 6835)","('Meta', 5833)","('Amazon', 7776)"
14,"('AsiaPacific', 4086)","('Intel', 6033)","('DLE', 4885)","('AIgenerated', 7114)"
15,"('Healthcare', 3892)","('Apple', 4753)","('GR', 4471)","('Instagram', 7030)"
16,"('Samsung', 3010)","('EU', 4701)","('Twitter', 4422)","('Twitter', 6972)"
17,"('Twitter', 2701)","('BrandVoicePaid Program', 3981)","('Instagram', 4418)","('Meta', 6379)"
18,"('Oracle', 2699)","('Tesla', 3610)","('Tesla', 4168)","('Baidu', 5915)"
19,"('IBM Corporation', 2665)","('Healthcare', 3586)","('Machine Learning', 4153)","('AP', 5846)"

In [10]:
PER_trend=pd.read_csv('PER_Trend_ORG.csv')
PER_trend

,2020,2021,2022,2023
0,"('Size', 3979)","('Size', 2994)","('Elon Musk', 2219)","('Bing', 10618)"
1,"('Trump', 3283)","('Biden', 1993)","('Musk', 2192)","('Musk', 8478)"
2,"('Instagram', 1360)","('Closefor', 1908)","('Lemoine', 2044)","('Elon Musk', 7255)"
3,"('Middle EastAfrica', 1277)","('Greta Van', 1880)","('Ai Weiwei', 1766)","('Biden', 4333)"
4,"('Biden', 1046)","('Instagram', 1469)","('Vectorspace AI', 1651)","('Trump', 4095)"
5,"('Richests Richests', 1016)","('Elon Musk', 1220)","('Biden', 1464)","('Sam Altman', 3417)"
6,"('Gebru', 886)","('Jim Thorpe', 1088)","('EnterpriseFor', 1184)","('Bard', 2638)"
7,"('Ai Weiwei', 857)","('Middle EastAfrica', 1087)","('Mark Zuckerberg', 1066)","('Sundar Pichai', 2584)"
8,"('Musk', 808)","('Su Tierra Tiempo', 1085)","('StartedIs Bitcoin', 1006)","('Pichai', 2359)"
9,"('Elon Musk', 779)","('Musk', 1080)","('CoFounder', 961)","('Ernie Bot', 2302)"
10,"('Trumps', 776)","('DIIR F', 1060)","('Greta Van', 951)","('Lessby', 2286)"
11,"('Busco', 774)","('Greta Van ', 1014)","('SitesU.S. TVRadio', 881)","('Donald Trump', 2282)"
12,('asistencia tcnica para mi solucin de cuidado...,"('Trump', 987)","('Standigm', 859)","('Altman', 2020)"
13,"('Donald Trump', 704)","('Richests Richests', 984)","('Laivly', 854)","('Satya Nadella', 1929)"
14,"('Pichai', 647)","('Gebru', 851)","('Watson', 837)","('Tu', 1808)"
15,"('BFSI', 613)","('Mitchell', 817)","('Blake Lemoine', 816)","('Putin', 1790)"
16,"('Kyle Wiggers', 587)","('Greta Van SusterenGray', 788)","('Instagram', 781)","('Joe Biden', 1590)"
17,"('Sundar Pichai', 575)","('Joe Biden', 754)","('Sophy', 768)","('Higgins', 1557)"
18,"('Jim Thorpe', 564)","('Ai Weiwei', 744)","('GShare', 684)","('Bill Gates', 1456)"
19,"('Mark My ServicesAll', 525)","('Greta Van ', 743)","('TVLatest NewscastsPress', 658)","('Bidens', 1243)"

## Part 2: Extract Targeted Entities

In [11]:
def get_top_ents(df):

    df['ENT_ORG']=df['ENT_ORG'].parallel_apply(ast.literal_eval)
    org_list = list(chain.from_iterable(df['ENT_ORG']))
    counter_org = Counter(org_list)
    top_20_org = counter_org.most_common(20)
    
    df['ENT_PROD']=df['ENT_PROD'].parallel_apply(ast.literal_eval)
    prod_list = list(chain.from_iterable(df['ENT_PROD']))
    counter_prod = Counter(prod_list)
    top_20_prod = counter_prod.most_common(20)
    
    df['ENT_PER']=df['ENT_PER'].parallel_apply(ast.literal_eval)
    per_list = list(chain.from_iterable(df['ENT_PER']))
    counter_per = Counter(per_list)
    top_20_per = counter_per.most_common(20)
    
    df['ENT_NORP']=df['ENT_NORP'].parallel_apply(ast.literal_eval)
    norm_list = list(chain.from_iterable(df['ENT_NORP']))
    counter_norm = Counter(norm_list)
    top_20_norm = counter_norm.most_common(20)
    
    return top_20_org, top_20_prod, top_20_per, top_20_norm

In [12]:
%%time
top_20_org_pos, top_20_prod_pos, top_20_per_pos, top_20_norm_pos = get_top_ents(df_filt_pos)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=4059), Label(value='0 / 4059'))), …

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=4059), Label(value='0 / 4059'))), …

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=4059), Label(value='0 / 4059'))), …

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=4059), Label(value='0 / 4059'))), …

CPU times: user 4.28 s, sys: 4.65 s, total: 8.93 s
Wall time: 10 s

In [13]:
POS_trend=pd.DataFrame({'ORGANIZATION':top_20_org_pos,'PRODUCT':top_20_prod_pos,'PERSON':top_20_per_pos, 'NORM':top_20_norm_pos})
POS_trend

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(AI, 78573)","(AI, 185906)","(Size, 2140)","(Chinese, 5935)"
1,"(Gray Media Group, 60661)","(AIdriven, 5053)","(Bing, 1887)","(European, 3026)"
2,"(ChatGPT, 29275)","(UsMeet, 2600)","(Greta Van, 1600)","(Canadian, 2659)"
3,"(Google, 23770)","(HPC, 1718)","(Elon Musk, 1561)","(American, 2109)"
4,"(Microsoft, 22937)","(Cresta, 1472)","(Biden, 1411)","(British, 1650)"
5,"(V19, 18860)","(Bing, 1435)","(Trump, 1258)","(Americans, 1401)"
6,"(Station20022022 Gray Television, 14059)","(V19, 1430)","(Standigm, 1250)","(French, 1268)"
7,"(ML, 13751)","(SE, 1271)","(Closefor, 1228)","(German, 1229)"
8,"(GR, 12167)","(CRM, 1263)","(CoFounder, 1181)","(Lunit, 1080)"
9,"(IBM, 12077)","(Google Cloud, 1115)","(Laivly, 1117)","(Korean, 992)"
10,"(Artificial Intelligence, 11118)","(JavaScript, 1029)","(Musk, 1112)","(North American, 938)"
11,"(Facebook, 7543)","(ADAS, 899)","(Telixs, 960)","(Canadians, 924)"
12,(CaptioningAudio DescriptionA Gray Media Group...,"(NewscastsPress, 821)","(Greta Van , 898)","(African, 827)"
13,"(Amazon, 7022)","(FDAcleared, 723)","(Weve, 843)","(Asian, 788)"
14,"(Station20022023 Gray Television, 6909)","(Cloud, 721)","(TVLatest NewscastsPress, 830)","(Irish, 623)"
15,"(OpenAI, 6739)","(Windows, 719)","(Middle EastAfrica, 787)","(Saudi, 585)"
16,"(Machine Learning, 6245)","(FNAlle im BlickpunktAd , 587)","(Watson, 759)","(ian, 555)"
17,"(RD, 5219)","(YouTube, 586)","(von, 757)","(Italian, 545)"
18,"(Intel, 5184)","(Akismet, 567)","(BFSI, 751)","(Swiss, 532)"
19,"(Apple, 5166)","(Fortune 500, 546)","(anlegenWas, 747)","(Spanish, 529)"

* POS: ChatGPT, Microsoft, 
* POS: Google + Alphabet - Bard
* POS: Coinbase, Ethereum

In [14]:
%%time
top_20_org_neg, top_20_prod_neg, top_20_per_neg, top_20_norm_neg = get_top_ents(df_filt_neg)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=313), Label(value='0 / 313'))), HB…

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=313), Label(value='0 / 313'))), HB…

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=313), Label(value='0 / 313'))), HB…

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=313), Label(value='0 / 313'))), HB…

CPU times: user 1.15 s, sys: 3.17 s, total: 4.31 s
Wall time: 5.57 s

In [15]:
NEG_trend=pd.DataFrame({'ORGANIZATION':top_20_org_neg,'PRODUCT':top_20_prod_neg,'PERSON':top_20_per_neg, 'NORM':top_20_norm_neg})
NEG_trend

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(ChatGPT, 5924)","(AI, 11450)","(Vectorspace AI, 992)","(Chinese, 1393)"
1,"(AI, 5642)","(Bing, 477)","(Bing, 473)","(European, 458)"
2,"(Google, 5628)","(SE, 353)","(Ernie Bot, 460)","(American, 385)"
3,"(Microsoft, 3025)","(SoundHound AI, 318)","(Elon Musk, 440)","(Canadians, 302)"
4,"(Bard, 1994)","(Coinbase, 231)","(Musk, 429)","(Americans, 268)"
5,"(Googles, 1882)","(XT, 129)","(Trump, 350)","(Canadian, 259)"
6,"(Matrix AI Network, 1701)","(Matrix AI Networks, 127)","(Biden, 331)","(British, 250)"
7,"(V19, 1307)","(Nebula AI, 123)","(Sundar Pichai, 301)","(Italian, 242)"
8,"(Lisk Machine Learning, 1248)","(AIdriven, 116)","(Vectorspace, 275)","(French, 198)"
9,"(Ethereum, 1197)","(JavaScript, 107)","(Putin, 207)","(German, 166)"
10,"(Facebook, 1190)","(Twitter, 103)","(Ernie, 193)","(Clearviews, 137)"
11,"(Alphabet, 1153)","(V19, 89)","(Bard, 171)","(Ukrainian, 126)"
12,"(OpenAI, 997)","(AccountNow, 82)","(theresearch, 168)","(Polymath, 123)"
13,"(Microsofts, 946)","(YouTube, 77)","(Pichai, 145)","(Hindu, 121)"
14,"(Decentralized Machine Learning, 936)","(Windows 11, 76)","(loweragainst, 145)","(Saudi, 120)"
15,"(SE, 827)","(ChatGPT.Led, 71)","(Sam Altman, 143)","(EUs, 106)"
16,"(Guardforce AI Co. Limited, 770)","(Stellar, 65)","(Gebru, 140)","(Europeans, 105)"
17,"(Twitter, 769)","(Akismet, 65)","(NAAQ, 135)","(Republican, 90)"
18,"(Facebook Share, 751)","(Matrix AI, 62)","(Snapchat, 131)","(Asian, 86)"
19,"(Apple, 745)","(Windows, 62)","(Syscoin SYS, 128)","(ian, 83)"

* NEG: Vectorspace AI - ML Based Blockchain
* NEG: Google + Alphabet - Bard
* NEG: Coinbase, Ethereum

In [16]:
len(df_filt_neg.Bert_topics.unique())

40

----
## Part 3: Entities from Topics with a positive sentiment

In [13]:
def get_top_ents_2(df):

    df['ENT_ORG']=df['ENT_ORG'].parallel_apply(ast.literal_eval)
    org_list = list(chain.from_iterable(df['ENT_ORG']))
    counter_org = Counter(org_list)
    top_20_org = counter_org.most_common(20)
    
    df['ENT_PROD']=df['ENT_PROD'].parallel_apply(ast.literal_eval)
    prod_list = list(chain.from_iterable(df['ENT_PROD']))
    counter_prod = Counter(prod_list)
    top_20_prod = counter_prod.most_common(20)
    
    df['ENT_PER']=df['ENT_PER'].parallel_apply(ast.literal_eval)
    per_list = list(chain.from_iterable(df['ENT_PER']))
    counter_per = Counter(per_list)
    top_20_per = counter_per.most_common(20)
    
    df['ENT_NORP']=df['ENT_NORP'].parallel_apply(ast.literal_eval)
    norm_list = list(chain.from_iterable(df['ENT_NORP']))
    counter_norm = Counter(norm_list)
    top_20_norm = counter_norm.most_common(20)
    
    ent_trend_df=pd.DataFrame({'ORGANIZATION':top_20_org,'PRODUCT':top_20_prod,'PERSON':top_20_per, 'NORM':top_20_norm})
    return ent_trend_df

In [21]:
# ConvAI
df_filt_pos_convai=df_filt_pos[df_filt_pos.Bert_topics==1]
df_filt_pos_convai.ENT_ORG.sample(2)
top_20_org_pos_convai, top_20_prod_pos_convai, top_20_per_pos_convai, top_20_norm_pos_convai = get_top_ents_2(df_filt_pos_convai)

In [23]:
POS_trend=pd.DataFrame({'ORGANIZATION':top_20_org_pos_convai,'PRODUCT':top_20_prod_pos_convai,'PERSON':top_20_per_pos_convai, 'NORM':top_20_norm_pos_convai})
POS_trend

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(ChatGPT, 7931)","(AI, 7524)","(Bing, 958)","(Chinese, 142)"
1,"(Microsoft, 4352)","(Bing, 670)","(Elon Musk, 504)","(Oracles, 91)"
2,"(AI, 3397)","(HPC, 474)","(Musk, 329)","(Canadian, 73)"
3,"(Google, 2744)","(Magellan AI, 401)","(Sam Altman, 243)","(American, 69)"
4,"(OpenAI, 2496)","(SageMaker, 244)","(Satya Nadella, 204)","(French, 68)"
5,"(IBM, 1390)","(Synopsys, 215)","(Pichai, 114)","(German, 66)"
6,"(Amazon, 983)","(Windows, 126)","(Sundar Pichai, 109)","(British, 61)"
7,"(Microsofts, 811)","(Core, 110)","(Altman, 107)","(European, 51)"
8,"(Gray Media Group, 765)","(Magellan, 89)","(Kyle Wiggers, 101)","(Italian, 42)"
9,"(Samsung, 574)","(Open AI, 89)","(Watson, 101)","(Canadians, 38)"
10,"(Darktrace, 519)","(Windows 11, 86)","(SNPS, 84)","(Musks, 35)"
11,"(GPT3, 501)","(JavaScript, 69)","(Gokul Ganapathi, 80)","(Duolingo, 33)"
12,"(GPT, 492)","(AIdriven, 66)","(Greg Brockman, 72)","(dataintensive, 33)"
13,"(Googles, 484)","(PRX, 65)","(Krishna, 70)","(Republicans, 31)"
14,"(Dell, 462)","(Word, 59)","(Trump, 68)","(Americans, 29)"
15,"(ML, 432)","(DeepMinds, 58)","(Koo, 65)","(Hindu, 29)"
16,"(Facebook Share, 419)","(SE, 56)","(Biden, 64)","(Similarweb, 26)"
17,"(Apple, 381)","(YouTube, 56)","(Bing Chat, 62)","(LOOPExisting, 23)"
18,"(GPT3.5, 372)","(Excel, 55)","(Claude, 61)","(sLiz, 23)"
19,"(Bard, 371)","(DeepMind, 50)","(Bing AI, 58)","(Asian, 22)"

In [ ]:
# GREG BROCKMAN, SAM ALTMAN, SATYA NADELLA

In [27]:
# Healthcare
df_filt_pos_health=df_filt_pos[df_filt_pos.Bert_topics.isin([2])]
ent_trend_health = get_top_ents_2(df_filt_pos_health)
ent_trend_health

# ROCHE, BAYER, IBM
# DRUG DISCOVERY, APACHE KYLIN
# EUROPEAN COMPANIES

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(AI, 3255)","(AI, 6519)","(Medipath, 494)","(European, 171)"
1,"(V19, 1541)","(AIdriven, 153)","(Size, 202)","(British, 111)"
2,"(GR, 1170)","(Galen, 139)","(Kylin Cloud, 136)","(Chinese, 99)"
3,"(Gray Media Group, 1071)","(Discovery, 117)","(Amarasingham, 120)","(American, 63)"
4,"(Artificial Intelligence, 991)","(V19, 113)","(Trump, 84)","(Canadian, 58)"
5,"(Healthcare, 906)","(L001, 95)","(Seth Koeppel, 71)","(Americans, 55)"
6,"(Roche, 894)","(CS, 77)","(Cyclica, 70)","(German, 48)"
7,"(Google, 814)","(Us2.ais, 73)","(Closefor, 67)","(Comperat, 41)"
8,"(healthcare, 568)","(Discovery Market, 60)","(Middle EastAfrica, 62)","(AidocThe, 36)"
9,"(IBM, 495)","(FDAcleared, 52)","(Ibex, 61)","(Irish, 32)"
10,"(Artificial Intelligence AI, 464)","(FirstEver AI Test, 52)","(Michalski, 60)","(Arab, 32)"
11,"(Microsoft, 408)","(uPath, 48)","(Ritchie, 60)","(North American, 26)"
12,"(RD, 347)","(Ibexs AI, 46)","(SanyalDey, 60)","(Revolutionize, 25)"
13,"(ChatGPT, 324)","(Galenplatform, 46)","(Dedalus, 56)","(French, 24)"
14,"(Bayer, 313)","(VistaPath Raises 4M, 46)","(Cardiosense, 56)","(AIML, 24)"
15,"(Us2.ai, 290)","(SubtleD, 42)","(Xray, 53)","(African, 22)"
16,"(AsiaPacific, 285)","(AiCure, 38)","(Joseph Mossel, 53)","(Democrats, 22)"
17,"(NLP, 278)","(UsMeet, 36)","(Olive, 49)","(Korean, 21)"
18,"(ML, 274)","(About AidocAidocis, 36)","(Greta Van, 49)","(Maharashtra, 17)"
19,"(Computer Vision, 248)","(minutes.2Us2.ais, 35)","(Jill German, 48)","(Scottish, 17)"

In [29]:
# Financial
df_filt_pos_fin=df_filt_pos[df_filt_pos.Bert_topics.isin([3])]
ent_trend_fin = get_top_ents_2(df_filt_pos_fin)
ent_trend_fin

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(Matrix AI Network, 1681)","(AI, 3058)","(Guardforce AI, 242)","(Chinese, 264)"
1,"(AI, 1410)","(SoundHound AI, 519)","(Guardforce, 166)","(Canadian, 219)"
2,"(Lisk Machine Learning, 1204)","(SE, 353)","(N. Charles St, 137)","(Canadians, 180)"
3,"(Guardforce AI Co. Limited, 1097)","(Coinbase, 165)","(Syscoin SYS, 128)","(Polymath, 124)"
4,"(GFAI, 1043)","(Matrix AI Networks, 122)","(Biden, 128)","(American, 91)"
5,"(Renalytix AI, 959)","(AIdriven, 119)","(NAAQ, 123)","(European, 72)"
6,"(Ethereum, 911)","(XT, 99)","(XeniosCoin X, 113)","(Asian, 46)"
7,"(SE, 908)","(NA, 79)","(theresearch, 113)","(Houndify, 38)"
8,"(Decentralized Machine Learning, 608)","(Matrix AI, 58)","(Jim Cramer, 108)","(Americans, 34)"
9,(First Trust Nasdaq Artificial Intelligence an...,"(PrepCreate, 56)","(Censia, 108)","(German, 34)"
10,"(Link Machine Learning, 565)","(Overweight, 37)","(Bytom BTM, 106)","(French, 33)"
11,"(SEC, 550)","(AI NA, 33)","(Trump, 102)","(PREVIO, 31)"
12,"(Facebook Share, 542)","(AI Competitors, 30)","(Elon Musk, 88)","(British, 28)"
13,"(LinkedIn Share, 540)","(NA NA, 29)","(Email WebsiteSave, 85)","(Democrats, 26)"
14,"(Global X Intelligence ETF, 490)","(Stellar, 26)","(loweragainst, 79)","(Technavios, 24)"
15,"(SES AI Corporation, 417)","(Allegions, 26)","(Dont Miss, 71)","(MoganLuke, 24)"
16,"(ChatGPT, 416)",(Etrade ReviewReview Interactive Brokers Revie...,"(Benzinga, 70)","(Muslim, 23)"
17,"(SES, 387)","(Lisk Machine, 25)","(GFAI, 70)","(North American, 21)"
18,"(SES AI, 384)","(Guardforce AI, 24)","(Louis Navellier, 68)","(Rivian, 21)"
19,"(CryptoBeat, 377)",(Share Market Snapshot Stock Gestures Trading ...,"(Dai DAI, 68)","(Tamil, 20)"

In [30]:
# HARDWARE
df_filt_pos_gpu=df_filt_pos[df_filt_pos.Bert_topics.isin([6])]
ent_trend_gpu = get_top_ents_2(df_filt_pos_gpu)
ent_trend_gpu

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(Nvidia, 2490)","(AI, 4313)","(Nvidias, 340)","(Chinese, 102)"
1,"(AI, 2002)","(HPC, 331)","(Supermicros, 213)","(topoftheline, 49)"
2,"(Supermicro, 1220)","(A100, 190)","(Huang, 156)","(Oracles, 44)"
3,"(Gray Media Group, 592)","(Rescale, 112)","(Jensen Huang, 155)","(North American, 27)"
4,"(Intel, 523)","(Core, 109)","(Charles Liang, 101)","(European, 24)"
5,"(GPU, 508)","(DGX Cloud, 86)","(Ian Buck, 64)","(A100, 20)"
6,"(Microsoft, 408)","(Tensor Core, 83)","(Picasso, 58)","(American, 16)"
7,"(ChatGPT, 363)","(AI Enterprise, 71)","(highbandwidth, 57)","(Canadian, 14)"
8,"(Nvidias, 320)","(AIdriven, 53)","(Manuvir Das, 55)","(Linux, 14)"
9,"(GR, 300)","(Universal GPU Platform, 49)","(Justin Boitano, 48)","(German, 14)"
10,"(Google, 295)","(Supercluster, 48)","(workflowfrom, 48)","(British, 13)"
11,"(DGX, 285)","(JavaScript, 42)","(Size, 47)","(Canadians, 12)"
12,"(AI Enterprise, 284)","(DLSS, 42)","(Omri Geller, 43)","(Popular, 11)"
13,"(Artificial Intelligence, 257)","(SuperBlades, 33)","(Cloudera, 36)","(C., 8)"
14,"(Shutterstock, 243)","(L4 Tensor, 31)","(George Lin, 34)","(Technavios, 8)"
15,"(Super Micro Computer, 203)","(PicMonkey, 30)","(Greg Estes, 33)","(Maharashtra, 8)"
16,"(Oracle, 197)","(Xilinx, 29)","(Inferencing Workloads SAN JOSE, 33)","(ServiceFCC, 8)"
17,"(Micro Computer, 179)","(Metaverse, 29)","(Kevin Connors, 33)","(Asian, 7)"
18,"(Omniverse Enterprise, 169)","(Javascript, 25)","(Paul Hennessy, 30)","(Aussie, 7)"
19,"(HGX, 163)","(V100, 23)","(BFSI, 29)","(Saudi, 7)"

In [ ]:
# HPC - High Performance Computing: NEW INDUSTRY
# NVIDIA, Intel
# NVIDIA DGX
# NVIDIA - Jensen Huang, Ian Buck, Manuvir Das

In [31]:
# LEGAL
df_filt_pos_legal=df_filt_pos[df_filt_pos.Bert_topics.isin([10])]
ent_trend_legal = get_top_ents_2(df_filt_pos_legal)
ent_trend_legal

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(AI, 1173)","(AI, 2259)","(CoCounsel, 577)","(Flyreel, 196)"
1,"(Gray Media Group, 658)","(UsMeet, 44)","(Everlaw, 202)","(Epiqs, 24)"
2,"(Deloitte, 450)","(Root, 42)","(Metaphysic, 198)","(Casetexts, 23)"
3,"(Casetext, 397)","(CoCounsels, 36)","(EvolutionIQ, 142)","(Americans, 21)"
4,"(Styldod, 373)","(AIdriven, 34)","(Thomas Salama, 72)","(Ukrainian, 19)"
5,"(Deloittes, 289)","(Tractables, 30)","(Ediscovery, 69)","(Han, 18)"
6,"(Legal AI Software, 225)","(Ediscovery Platform Skip, 30)","(Ian, 56)","(agoWith, 17)"
7,"(DTTL, 208)","(Tractables AI, 28)","(Sam Head, 54)","(Sabah, 14)"
8,"(Venture MLS, 199)","(Tn, 20)","(Salama, 54)","(Chinese, 13)"
9,"(S Scientific, 191)","(7M, 18)","(Bourne, 54)","(American, 13)"
10,"(ChatGPT, 175)","(RealMoment, 14)","(Casetexts CoCounsel, 46)","(European, 11)"
11,"(S Scientifics, 174)","(V19, 13)","(Dan Helfrich, 45)","(Sarawak, 11)"
12,"(MLS, 169)","(NewscastsPress, 10)","(Michael Segala, 45)","(Turkish, 8)"
13,"(LegalTech, 165)","(Generative AI, 9)","(Nitin Mittal, 43)","(settlementin, 8)"
14,"(Station20022022 Gray Television, 155)","(Trustworthy AI, 9)","(firmsfrom, 41)","(FrostSullivans, 8)"
15,"(Station20022023 Gray Television, 131)","(JobsHometown, 7)","(Lunawat, 40)","(Technologies1.201.962.6091carley.bunch, 8)"
16,"(LexisNexis, 115)","(ConnectBusiness BreakPOAST, 7)","(Creator Sam Head, 36)","(Hindu, 8)"
17,"(Metaphysics, 108)","(TVGray , 7)","(Leads Scott Bourne, 36)","(British, 7)"
18,(CaptioningAudio DescriptionA Gray Media Group...,"(Akismet, 6)","(Matteo OlivieriDancey, 36)","(Origamis, 6)"
19,"(Everlaws, 102)","(Towers, 6)","(Scott Bourne, 36)","(Inmans, 6)"

In [ ]:
# Casetext
# Deloittes
# Everlaw
# Dan Helfrich

In [32]:
# music
df_filt_pos_mus=df_filt_pos[df_filt_pos.Bert_topics.isin([13])]
ent_trend_mus = get_top_ents_2(df_filt_pos_mus)
ent_trend_mus

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(Gray Media Group, 587)","(AI, 1375)","(Musicubes, 152)","(Songtradrs, 102)"
1,"(Verbits, 498)","(Verbit, 442)","(Metaphysic, 95)","(Jaxsta, 51)"
2,"(Pro Music Rights, 483)","(Google Cloud, 43)","(Huang Mingxing, 72)","(Songtradr, 51)"
3,"(AI, 438)","(VI, 33)","(Biden, 68)","(visitSONGTRADR, 49)"
4,"(TikTok, 425)","(Galaxy, 27)","(Tom Livne, 56)","(Chinese, 24)"
5,"(Music Licensing, 308)","(D 101 million, 27)","(Tori, 56)","(French, 21)"
6,"(Google, 271)","(Open AI, 22)","(Emad Mostaque, 55)","(Sonantic, 17)"
7,"(Verbit, 226)","(SoundCloud, 18)","(Robert Schwartz, 54)","(tier1, 16)"
8,"(ByteDance, 223)","(UsMeet, 17)","(Paul Wiltshire, 51)","(German, 13)"
9,"(Musicube, 211)","(User Management Pack, 16)","(David Hoga, 51)","(Canadian, 13)"
10,"(ChatGPT, 202)","(VS, 16)","(Song Zu, 51)","(Korean, 12)"
11,"(Stability AI, 199)","(YouTube, 11)","(Kara GaughanJive, 49)","(American, 11)"
12,"(AIgenerated, 166)","(Windows, 11)","(MICUBEPublished, 45)","(Swiss, 11)"
13,"(Third Point Ventures, 162)","(VR, 11)","(Hamburgbased, 45)","(Swedish, 11)"
14,"(Spotify, 145)","(JavaScript, 10)","(Jake P. Noch, 44)","(British, 10)"
15,"(Microsoft, 132)","(Pixel, 10)","(Pharrell, 44)","(ian, 10)"
16,"(Apple, 113)","(Pro AI, 10)","(Young Jeezy, 44)","(Arabic, 10)"
17,"(the Worlds Leading Voice AI Platform, 108)","(WT2 Edge, 10)","(Lil Yachty, 44)","(Italian, 9)"
18,"(Station20022022 Gray Television, 108)","(M2, 10)","(Larry, 44)","(European, 9)"
19,"(Waterdrop, 108)","(YouTubers, 9)","(Trae Pound, 44)","(African, 9)"

----
## Entities in Topics from Negative Sentiment

In [33]:
# CRYPTOGRAPHY
df_filt_neg_crypto=df_filt_neg[df_filt_neg.Bert_topics.isin([0])]
ent_trend_cryto = get_top_ents_2(df_filt_neg_crypto)
ent_trend_cryto

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(Matrix AI Network, 1640)","(Coinbase, 218)","(Vectorspace AI, 979)","(Polymath, 118)"
1,"(Lisk Machine Learning, 1223)","(SE, 210)","(Vectorspace, 272)","(Chinese, 118)"
2,"(Ethereum, 1128)","(AI, 169)","(loweragainst, 139)","(Canadian, 45)"
3,"(Decentralized Machine Learning, 812)","(Nebula AI, 123)","(Syscoin SYS, 123)","(Canadians, 42)"
4,"(Link Machine Learning, 622)","(Matrix AI Networks, 120)","(XeniosCoin X, 102)","(PREVIO, 30)"
5,"(CryptoBeat, 508)","(AccountNow, 80)","(Bytom BTM, 101)","(Ethfinex, 22)"
6,"(NewsUpdates, 497)","(XT, 73)","(ChangeChange, 80)","(Enegra, 14)"
7,"(Machine Learning, 434)","(Stellar, 60)","(Dai DAI, 73)","(0.0148, 9)"
8,"(Facebook Share, 416)","(Matrix AI, 59)","(FilingsDaily RatingsNews, 64)","(Democrats, 8)"
9,"(LinkedIn Share, 416)","(CoinBene, 33)","(RequiredMail, 64)","(British, 7)"
10,"(SE, 410)","(Lisk Machine, 27)","(LearningIt, 59)","(German, 7)"
11,"(SEC, 398)","(X Artificial ETF, 20)","(DXdao DXD, 54)","(isThe, 6)"
12,"(Gemini, 348)","(FundComplete, 20)","(NetworkIt, 49)","(Swingby, 6)"
13,"(RatingsNews, 280)","(Cryptopia, 18)","(NAAQ, 47)","(Emirati, 6)"
14,"(DML, 271)","(DaysPosted, 15)","(Frutarom Gramercy Property To Be Acquired, 46)","(European, 5)"
15,"(currencys Github, 244)","(ROGin AI, 14)","(Gibson, 46)","(Democratic, 5)"
16,"(Virtus AllianzGI, 236)",(Matrix AI Network Token Trading Matrix AI Net...,"(theresearch, 42)","(Ukrainian, 4)"
17,"(LML, 232)","(BitBay andCryptopia, 13)","(Kucoin, 41)","(DaysWKRB, 4)"
18,"(Twitter Share, 211)","(FundsQRAFT AI Enhanced, 13)","(Vectorspace AIComplete, 39)","(Americans, 4)"
19,"(DT, 207)","(MX, 11)","(Vectorspace AI Complete, 36)","(Asias, 4)"

In [34]:
# BARD
df_filt_neg_bard=df_filt_neg[df_filt_neg.Bert_topics.isin([1])]
ent_trend_bard = get_top_ents_2(df_filt_neg_bard)
ent_trend_bard

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(Google, 2274)","(AI, 1138)","(Bing, 273)","(European, 56)"
1,"(Microsoft, 897)","(Bing, 223)","(Sundar Pichai, 138)","(Chinese, 26)"
2,"(ChatGPT, 884)","(marketin, 27)","(Bard, 121)","(American, 15)"
3,"(Bard, 844)","(Windows, 18)","(Gebru, 104)","(Italian, 11)"
4,"(Googles, 774)","(Windows 11, 17)","(Pichai, 83)","(Asian, 9)"
5,"(AI, 428)","(ChatGPTstyle, 13)","(JWST, 74)","(Republican, 9)"
6,"(Microsofts, 398)","(MX, 12)","(Dean, 66)","(Republicans, 9)"
7,"(Alphabet, 361)","(AIdriven, 11)","(Mitchell, 49)","(Americans, 9)"
8,"(OpenAI, 189)","(ChatGPTstyle AI, 11)","(Timnit Gebru, 42)","(German, 9)"
9,"(Reuters, 160)","(Bing AI, 10)","(val, 33)","(Accentures, 8)"
10,"(Twitter, 115)","(Twitter, 9)","(Trump, 30)","(Texans, 7)"
11,"(Gebru, 98)","(Bard AI, 9)","(Lemoine, 29)","(Turkiye, 7)"
12,"(the James Webb Space Telescope, 75)","(professionalsto, 8)","(wellreviewed, 29)","(French, 6)"
13,"(Googles AI, 62)","(AI Chatbot, 8)","(Angelo Zino, 29)","(Democrat, 6)"
14,"(Bards, 62)","(ChatGPT.Led, 7)","(Ernie, 29)","(Swiss, 6)"
15,"(Apple, 61)","(Language Model for Dialogue Applications, 6)","(coCEO, 29)","(British, 6)"
16,"(Bard AI, 61)","(Lens, 6)","(Jeff Dean, 28)","(Popular, 5)"
17,"(A.I., 54)","(DeepMind, 6)","(enginelong, 28)","(ian, 5)"
18,"(Alphabets, 49)","(YouTube, 5)","(Clay Bavor, 28)","(Turkish, 4)"
19,"(Baidu, 46)","(MicrosoftGoogle AI, 5)","(Biden, 27)","(Hindu, 4)"

In [35]:
# PERSONAL ASSISTANT
df_filt_neg_snap=df_filt_neg[df_filt_neg.Bert_topics.isin([5])]
ent_trend_snap = get_top_ents_2(df_filt_neg_snap)
ent_trend_snap

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(ChatGPT, 605)","(AI, 329)","(Snapchat, 105)","(ChatGPTthe, 32)"
1,(the Google Privacy Notice and Terms of Servic...,"(GardenFashion, 53)","(Bryn Hargreaves, 33)","(British, 27)"
2,"(AI, 138)","(ReadPhoto , 35)","(botis, 32)","(American, 17)"
3,"(Snapchat, 132)","(ChatGPT, 33)","(Dennis MortonPublished 20th, 31)","(Snapchats, 12)"
4,"(Google, 96)","(Snapchats, 31)","(SportWhats OnWhats OnArts, 29)","(Americans, 6)"
5,"(OpenAI, 81)","(AdOne Snapchat, 19)","(usersBy Ayaan AliPublished, 29)","(Democratic, 6)"
6,"(Independent Press Standards Organisation, 62)","(BlueMail, 14)","(Nina Warhurst, 25)","(Ukrainian, 5)"
7,"(SettingsTerms, 62)","(My AI, 11)","(PopularMy AI, 25)","(SITESEnglish, 4)"
8,"(Facebook, 59)","(GardenFashion and NoticesFree, 7)","(Boris Johnson, 24)","(Muslim, 3)"
9,"(JobPlace, 55)","(ReadPhoto Links UsSubmit, 6)","(Kang, 20)","(ITVNeighbours, 3)"
10,"(Apple, 44)","(Bing, 5)","(Sam Altman, 18)","(Scottish, 3)"
11,"(Microsoft, 42)","(YouTube, 4)","(Peter Hardy, 16)","(FCWhats, 3)"
12,"(Snapchatters, 31)","(BlenderBot 3, 4)","(Charles, 14)","(Hindu, 2)"
13,"(ThisAI, 30)","(Open AI, 4)","(Ariel, 13)","(Fivehourold, 2)"
14,"(Wtf, 29)","(iPads, 4)","(Lee, 12)","(SunIrish, 2)"
15,"(FeedRelated, 29)","(KapoorRhea, 4)","(OnWhats OnArts, 12)","(Italian, 2)"
16,"(World Publishing Ltd., 28)","(Mattmann, 4)","(OnThings To DoArts, 12)","(Sunsets, 2)"
17,"(McFly announce Power to Play, 28)","(StoreRedmi, 4)","(Tay, 11)","(Polish, 2)"
18,"(Primark, 27)","(Pro, 3)","(Elon Musk, 11)","(togo, 2)"
19,"(CharterNational World Publishing Ltd., 26)","(Facebook, 3)","(Ariana Madix, 10)","(Micheles, 2)"

In [36]:
# JOBS
df_filt_neg_jobs=df_filt_neg[df_filt_neg.Bert_topics.isin([8])]
ent_trend_jobs = get_top_ents_2(df_filt_neg_jobs)
ent_trend_jobs

,ORGANIZATION,PRODUCT,PERSON,NORM
0,"(AI, 323)","(AI, 390)","(Goodfellow, 18)","(Apples, 23)"
1,"(ChatGPT, 79)","(callcenter, 5)","(Ian Goodfellow, 16)","(Chinese, 20)"
2,"(Apple, 68)","(Citrix, 5)","(Harry, 15)","(American, 15)"
3,"(Google, 66)","(Checkout, 5)","(Meghan, 13)","(Americans, 11)"
4,"(Microsoft, 36)","(Grammy, 5)","(Kristen Clarke, 12)","(British, 8)"
5,"(Amazon, 36)","(SingularityT AI, 5)","(ParentRe, 11)","(European, 7)"
6,"(V19, 34)","(SingularityT, 5)","(inperson, 10)","(Muslims, 5)"
7,"(TUC, 33)","(Newsource, 4)","(Adam, 9)","(Aussie, 5)"
8,"(Data Science, 30)","(JavaScript, 3)","(Biden, 9)","(Spanish, 4)"
9,"(IBM, 22)","(AI Can Fill the Jobs GapThats, 3)","(Elon Musk, 9)","(Asian, 4)"
10,"(Artificial Intelligence, 20)","(Expandcollapse, 3)","(Marcel, 8)","(Democrats, 4)"
11,"(Alphabet, 18)","(DataRobot, 3)","(Trump, 8)","(Republican, 4)"
12,"(BBC, 18)","(HomeSkip, 3)","(Collins, 8)","(French, 3)"
13,"(FE News, 17)","(AIdriven, 2)","(Joe Bidens, 8)","(Ukrainian, 3)"
14,"(Gray Media Group, 15)","(andMicrosoft, 2)","(Musk, 8)","(Republicans, 3)"
15,"(Dropbox, 15)","(Windows, 2)","(Frey, 8)","(Italian, 3)"
16,"(Facebook, 13)","(FireCuda, 2)","(Harry Styles, 8)","(Beyonc, 3)"
17,"(EEOC, 13)","(Windows 1025 BetaNews, 2)","(Beyonce, 8)","(popins, 2)"
18,"(LinkedIn, 13)","(AIrelated, 2)","(Watson, 7)","(SkillsWorldLive, 2)"
19,"(Goldman Sachs, 13)","(GiftShop, 2)","(Oprah, 7)","(StoryTo, 2)"